* {
    overflow-x: hidden
}

@font-face {
    font-family: "Raleway"; src: url("Polices/Raleway-VariableFont_wght.ttf")
}
body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
    max-width: 1280px;
    margin: 0 auto;
}
h1, h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1em;
    margin: 0px;
}
h3.article__activite {
    padding: 10px 0 20px 10px;
}
h4 {
    margin-top: 0px;
}
p {
    margin-top: 0px;
}
input {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: #F2F2F2;
    font-weight: bold;
    padding-left: 10px;
}
a { color: #0065FC; text-decoration: none; }
a:hover { text-decoration: none; }
i { margin: 0px; }

/* debut HEADER*/
header {
    padding: 0px 20px 0px 20px;
}
.logo { width: 100px; margin-bottom: 10px; }
.main_smart {
    display: none;
}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.nav__main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:baseline;
    text-align: end;
}
.nav__main1 {
    line-height: 50px;
    border-top: 3px solid #0065FC;
    color: #0065FC;
    margin-right: 50px;
    vertical-align: bottom;
}
.nav__main2 {
    margin-right: 50px;
}
.lnk__main2 {
    color: #000000;
}
.lnk__main2:hover {
    color: #0065FC;
}
.nav__main3 {
    font-weight: bold;
}

/*debut bouton rechercher*/
#recherche {
    padding: 0px 20px 0px 20px;
}
.element_1   {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#btn_position {
    color: #000000;
    background-color: #F2F2F2;
    width: 20px;
    height: 25px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    padding:  8px 8px 2px 10px;
    vertical-align: middle;
}
#btn_position:hover {
    color: #0065FC;
}
#btn_fleche {
    color: #000000;
}
#btn_fleche:hover {
    color: #0065FC;
}
#btn_recherche {
    background-color: #0065FC;
    height: 25px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 10px 0px 10px;
    vertical-align: middle;
}

a.lnk_recherche {
    color: #FFFFFF;
    text-decoration: none;
}
/*fin bouton rechercher*/
/*debut filtre*/
.icone {
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    margin: 0px;
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
}
.icone_txt {
    padding: 0px 8px 0px 8px;
}
.filtre{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height:min-content;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #F2F2F2;
    border-left: 0px;
    padding: 0px;
    width: max-content;
    height: min-content;
    margin-left: 20px;
}
a.a_filtre {
    color:#000000;
    text-decoration:none;
}
a.a_filtre:hover {
    color:#0065FC;
}
.txt_filtre {
    padding: 0px 20px 0px 0px;
    height: 40px;
    display: flex;
    align-items: center;
}
.element_2 { /*éléments filtre*/
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20px;
    vertical-align: middle;

}
/*fin filtre*/
/*debut info*/
.info {
    width:max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 15px 20px 0px 20px;
    vertical-align: middle;
}
.lnk_info {
    font-weight:bold;
    border: 1px solid;
    border-radius: 50%;
    border-color: #F2F2F2;
    padding: 2px;
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}
a.a_info {
    color: #0065FC;
    text-decoration: none;
}
a.a_info:hover { text-decoration: none; }
/*fin info*/
/*fin HEADER*/

/*debut BODY*/

.photo_small {
    border-radius: 10px 10px 0px 0px;
}
a.article { color: #000000; text-decoration: none; }
a.article:hover { text-decoration: none; }
/*debut avis (petite étoile)*/
.avis {
    color:#F2F2F2;
    display: inline-block;
}
.avis_pos {
    color:#0065FC;
    display: inline-block;
}
/*fin avis*/
.conteneur {
    max-width: 1280px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
/*debut hebergement*/
.conteneur__hebergement {
    width:65%;
    padding: 20px;
    margin: 0px;
    background-color:#F2F2F2;
    border-radius: 10px;
}
.articles__hebergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content :space-between;
}

.article__hebergement {
    width: min-content;
    padding: 4px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px silver;
}
.afficher_plus {
    color: #000000;
    font-weight: bold;
}
.afficher_plus:hover {
    color: #0065FC;
    text-decoration: none;
}
/*fin hebergement*/
/*debut les + populaires*/
aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.conteneur__populaire {
    width: 26%;
    margin: 0px;
    margin-left: 10px;
    padding: 20px;
    background-color:#F2F2F2;
    border-radius: 10px;
}
.titre_populaire {
    width: 100%;
}
.article__label {
    /* height: 110px; */
}
.article__populaire {
    width: 100%;
    height: min-content;
    padding: 4px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px silver;
}
.photo_small_populaire {
    border-radius: 10px 0px 0px 10px;
    float:left;
    margin-right: 10px;
}
/*fin les + populaires*/
/*debut Activités*/
.conteneur__activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.conteneur__activites-2 {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: auto;
    width: 100%;
}

.article__activite {
    padding: 0px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 0px;
    box-shadow: 2px 2px 2px silver;
    width:100%;
}
.txt__activite {
    margin: 10px 20px 20px 20px;
}
.photos_x2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*fin Activités*/
/*fin BODY*/

/*Debut FOOTER*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#F2F2F2;
    padding:30px;
}
.lnk_footer {
    color:#000000;
}
.lnk_footer:hover {
    color:#0065FC;
    text-decoration: none;
}
.footer{ width:33%; }
/*fin FOOTER*/

/*RESPONSIVE*/
@media all and (max-width: 1280px) {
    .conteneur__hebergement {
        width:65%;
        padding: 20px;
        margin: 0px;
        background-color:#F2F2F2;
        border-radius: 10px;
    }
    .articles__hebergement {
        justify-content:space-around;
    }
    .conteneur__activites {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:space-around;
    }
}
@media all and (max-width: 1024px) {
    body {
        font-size: 1.2em;
    }
    input {
        font-size: 1em;
    }
    h1, h2 {
        font-size: 1.2em;
    }
    h4 {
        margin-top: 60px;
    }
    .logo {
        width: 220px;
        margin-bottom: 20px;
    }
    .main {
        display: none;
        flex-wrap: wrap;
    }
    header {
        padding: 0;
    }
    .title {
        margin-top: 15px;;
        padding: 0 15px;
    }
    .main_smart {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .nav__main {
        width: 100%;
    }
    .nav__main3 {
        margin-top: 45px;
        margin-right: 20px;
    }
    .nav__main1 {
        padding: 0; margin: 0;
        width: 50%;
        text-align: center;
        border-top: 0px;
        border-bottom: 3px solid #0065FC;
    }
    .nav__main2 {
        padding: 0; margin: 0;
        width: 50%;
        text-align: center;
        border-top: 0px;
        line-height: 50px;
    }
    .nav__main2:hover {
        color: 0065FC;
        border-bottom: 3px solid #0065FC;
    }
    #recherche {
        padding: 0 15px;
    }
    #btn_position {
        width: 60px;
        height: 60px;
    }
    #btn_recherche {
        background-color: #0065FC;
        height: 60px;
        text-align: center;
        border-radius: 0px 10px 10px 0px;
        padding: 10px 10px 0px 10px;
        vertical-align: middle;
    }
    .icone {
        width: 50px;
        height: 50px;
    }
    .container-filters {
        margin-top: 20px;
    }
    .filtre{
        border-radius: 40px;
        /* width: max-content; */
        width: 90%;
        margin-top: 0px;
    }
    .txt_filtre {
        padding-right: 20px;
    }
    .element_2   {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0;
    }
    .element_2  > a {
        width: 46%;
    }
    .info {
        width: 100%;
        margin: 50px 0px 50px 0px;
    }
    .lnk_info {
        width: 40px;
        height: 40px;
    }
    section {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .photo_small {
        border-radius: 40px 40px 0px 0px;
        width:100%;
    }
    .avis {
        /* margin-right: 20px;
        margin-left: 20px; */
    }
    .conteneur {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px;
    }
    .conteneur__hebergement {
        margin: 0; padding: 0;
        width:100%;
        background-color: #FFFFFF;
    }
    h2#hebergement {
        padding: 0 20px;
    }
    .articles__hebergement {
        flex-direction: column;
        justify-content:space-between;
    }
    .article__hebergement .article {
        flex-direction: column;
    }
    .article__hebergement {
        width: 94%;
        margin: 6px auto;
        border-radius: 10px;
        box-shadow: 4px 4px 4px silver;
    }
    .article__hebergement .photo_small {
        border-radius: 10px 10px 0 0;
        max-width:100%;
        display: block;
        max-height: 200px;
    }
    .afficher_plus {
        color: #000000;
        margin: 20px 0px 20px 0px;
    }
    .titre_populaire {
        padding-left: 0 20px;;
    }
    .conteneur__populaire {
        width: 100%;
        margin: 0;
        padding: 0;
        background-color:#F2F2F2;
        border-radius: 0px;
    }
    .title-most-popular {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .container-most-popular {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .conteneur__populaire {
        display: block;
        padding: 0;
        margin: 0;
    }

    .titre_populaire {
        width: 90%;
    }

    .article {
        display: flex;
    }
    .article__label {
        /* height: 300px; */
    }

    .article__populaire {
        width: 92%;
        margin: 0 auto 10px auto;
        border-radius: 40px;
    }
    .photo_small_populaire {
        width: 40%;
        border-radius: 40px 0px 0px 40px;
    }
    .article__desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .container-activites {
        padding: 10px 20px;
    }

    .conteneur__activites-2 {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .article__activite {
        border-radius: 40px;
        margin: 6px auto;
    }
    footer {
        flex-direction: column;
    }
    .footer{
        width:100%;
    }
}
